@charset "UTF-8";

body
{
margin-left:100px;
border-left:100px;
border:1px solid black;
margin-right:300px;

}

img
{
margin-left:200px;
margin-top:-20px;
width:200px;
height:200px;
	
}

div.Details
{
	
margin-top:-200px;
margin-left:450px;
font-size:180%;		


}
div.table{
	
margin-left:200px;
	
}
table,th,td
{
border:2px solid black;
font-size:110%	;
padding:5px;

}

div.Education{
font:bold;
margin-left:200px;
font-size:150%;	

}
div.Objective{
font:bold;
border-top:	1px solid black;
margin-left:200px;
font-size:150%;	
	
}

div.Achievements
{
font:bold;
margin-left:200px;
font-size:150%;
		
}
.ExtraCurricular
{
font:bold;
margin-left:200px;
font-size:150%;	

}

div.Project
{
font:bold;
margin-left:200px;
font-size:150%;	
	
}

div.Declaration
{
font:bold;
margin-left:200px;
font-size:150%;
		
}
div.signature
{
font-size:150%;		
margin-left:700px;	
}
div.image
{
padding-top:70px;
height:200px;
width:200px;
margin-left:500px;	
}


